:root {
  --white: white;
  --black: black;
  --light-grey: rgb(209, 209, 209);
  --primary-color: rgb(198, 170, 140);
  --primary-color-two: rgb(139, 116, 92);

  --font-family: 'DM Sans', sans-serif;
}
